@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap");

$color-default: #fff;
$color-primary: black;
$color-secondary: darkmagenta;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Reem Kufi", sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

// import
@import "header";
@import "content";
@import "footer";